#file-preview img, #invoice-proof-preview img {
    max-width: 200px; /* Ukuran maksimum gambar */
    max-height: 200px; /* Tinggi maksimum gambar */
    object-fit: cover; /* Mengatur cara gambar mengisi area */
    margin-right: 10px; /* Jarak antar gambar */
    display: inline-block; /* Menampilkan gambar sejajar */
}

.file-preview, .invoice-proof-preview {
    width: 200px; /* Ukuran maksimum gambar */
    height: 200px; /* Tinggi maksimum gambar */
}

.file-preview img, .invoice-proof-preview img{
    max-width: 100%; /* Ukuran maksimum gambar */
    max-height: 100%; /* Tinggi maksimum gambar */
    object-fit: cover; /* Mengatur cara gambar mengisi area */
    margin-right: 10px; /* Jarak antar gambar */
    display: inline-block; /* Menampilkan gambar sejajar */
}

.tr-hpp{
    background-color: #f1f1f1;
}
